<section class="about-us">
    <div class="container about-us__container">
        <img src="./images/about-illustration.png" alt="" class="about-us__illustration">
        <div class="about-us__main">
            <h2 class="h1">О нас</h2>
            <div class="text-p">
                Опыт работы ритуального агентства с 2007 <br>
                Сертификат на деятельность похоронного агента <br>
                Все агенты работают много лет, выглядят достойно, опрятно, серьезно и грамотно <br>
                Отзывы реальных пользователей услуг более 150 человек с оценкой 4,9 и их не скрываем <br>
                Собственный транспорт катафалков, автобуса, прощальное кафе, магазин-выставка рит.товаров <br>
                Специализированное агентство по Covid-19 и разрешение, навык на специальные похороны <br>
                Договоренность с любым кладбищем Омска на захоронение, с любым ЗАГСом и моргами города <br>
                Собственный транспорт для перевозки груз-200 в крематорий Новосибирска и полный процесс
            </div>
            <div class="features-grid">
                <div class="feature-item text-p">Специализация только на колумбарных плитах, следовательно качество
                    изделий выше, чем на рынке
                </div>
                <div class="feature-item text-p">Важность колумбарной плиты для кремированного человека, равноценна
                    памятнику для погребенного
                </div>
                <div class="feature-item text-p">Наличие логотипа «КОЛУМБАР» на плите - равно знак качества</div>
                <div class="feature-item text-p">Сохранить облик близкого человека с фотографичной точностью потомкам
                </div>
            </div>
        </div>
    </div>
</section>