<section class="catalog splide" aria-label="Catalog">
    <div class="container">
        <h2 class="h1">Каталог колумбарных плит</h2>
        <div class="catalog__nav">
            <a href="#" class="text-p">Все</a>
            <a href="#" class="text-p">Мрамор</a>
            <a href="#" class="text-p">Гранит</a>
            <a href="#" class="text-p">Керамогранит</a>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="catalog__item">
                        <div class="cover">
                            <img src="./images/products/1.png">
                        </div>
                        <div class="info">
                            <h3 class="h3">Гранитная плита</h3>
                            <h2 class="h2">19 500 Р</h2>
                            <p class="text-p">Плита изготавливается по индивидуальному дизайну. Стоимость плиты не
                                зависит от ее
                                размера.</p>
                        </div>
                        <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#cb-modal">Оформить заказ</button>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="catalog__item">
                        <div class="cover">
                            <img src="./images/products/2.png">
                        </div>
                        <div class="info">
                            <h3 class="h3">Гранитная плита</h3>
                            <h2 class="h2">19 500 Р</h2>
                            <p class="text-p">Плита изготавливается по индивидуальному дизайну. Стоимость плиты не
                                зависит от ее
                                размера.</p>
                        </div>
                        <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#cb-modal">Оформить заказ</button>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="catalog__item">
                        <div class="cover">
                            <img src="./images/products/3.png">
                        </div>
                        <div class="info">
                            <h3 class="h3">Гранитная плита</h3>
                            <h2 class="h2">19 500 Р</h2>
                            <p class="text-p">Плита изготавливается по индивидуальному дизайну. Стоимость плиты не
                                зависит от ее
                                размера.</p>
                        </div>
                        <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#cb-modal">Оформить заказ</button>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="catalog__item">
                        <div class="cover">
                            <img src="./images/products/4.png">
                        </div>
                        <div class="info">
                            <h3 class="h3">Гранитная плита</h3>
                            <h2 class="h2">19 500 Р</h2>
                            <p class="text-p">Плита изготавливается по индивидуальному дизайну. Стоимость плиты не
                                зависит от ее
                                размера.</p>
                        </div>
                        <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#cb-modal">Оформить заказ</button>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="catalog__item">
                        <div class="cover">
                            <img src="./images/products/1.png">
                        </div>
                        <div class="info">
                            <h3 class="h3">Гранитная плита</h3>
                            <h2 class="h2">19 500 Р</h2>
                            <p class="text-p">Плита изготавливается по индивидуальному дизайну. Стоимость плиты не
                                зависит от ее
                                размера.</p>
                        </div>
                        <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#cb-modal">Оформить заказ</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="splide-custom-pagination splide__arrows">
            <div class="splide__pagination">

            </div>
        </div>
    </div>
</section>