<section class="cb-form">
    <div class="container">
        <div class="cb-form__grid">
            <h2 class="h1">Если у вас есть вопросы и необходима консультация, оставьте свои данные и мы перезвоним
                вам.</h2>
            <form class="cb-form__form" id="cb-form">
                <div class="form-input">
                    <input type="text" name="name" id="name" required placeholder="Имя">
                </div>
                <div class="form-input">
                    <input type="text" name="phone" id="phone" required data-inputmask="'mask':'+7(999)999-99-99'"
                           placeholder="Телефон">
                </div>
                <div class="text-agreement text-small">
                    Отправляя форму, вы даете <a href="#">Согласие на обработку
                    персональных данных.</a>
                </div>
                <button class="btn-primary">
                    Заказать консультацию
                </button>
            </form>
        </div>
    </div>
</section>