<header class="header">
    <div class="container">
        <div class="header__row">
            <a href="/" class="header__logo">
                <img src="./images/logo.svg" alt="" width="264">
            </a>
            <nav class="header__nav d-none d-md-flex">
                <a href="#" class="active">Навигация</a>
                <a href="#">Навигация</a>
                <a href="#">Навигация</a>
                <a href="#">Навигация</a>
            </nav>
            <div class="header__contacts d-none d-lg-flex">
                <a href="tel:8 800 800 80 80" class="phone">8 800 800 80 80</a>
                <a href="#"><img src="./images/icons/whatsapp.svg" alt=""></a>
                <a href="#"><img src="./images/icons/tg.svg" alt=""></a>
                <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#cb-modal">Заказать звонок</button>
            </div>
            <div class="header__mobile-buttons d-lg-none">
                <a href="#" class="header__call-btn" data-bs-toggle="modal" data-bs-target="#cb-modal">
                    <img src="./images/icons/call.svg" alt="">
                </a>
                <a href="#" class="header__menu-btn">
                    <img src="./images/icons/menu.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="mobile__menu">
    <div class="mobile__menu__bg"></div>
    <div class="inner-block">
        <a href="#" class="header__menu-btn close-btn">
            <img src="./images/icons/cross.svg" alt="">
        </a>
        <nav class="d-md-none">
            <a href="#">Навигация</a>
            <a href="#">Навигация</a>
            <a href="#">Навигация</a>
            <a href="#">Навигация</a>
        </nav>
        <div class="header__contacts">
            <a href="tel:8 800 800 80 80" class="phone">8 800 800 80 80</a>
            <a href="#"><img src="./images/icons/whatsapp.svg" alt=""></a>
            <a href="#"><img src="./images/icons/tg.svg" alt=""></a>
            <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#cb-modal">Заказать звонок</button>
        </div>
        <img class="logo d-md-none" src="./images/logo-only.svg" alt="" height="160">
    </div>
</div>