<section class="how-we-work">
    <div class="container">
        <h2 class="h1">Как мы работаем</h2>
        <div class="how-we-work__container">
            <div class="how-we-work__decor"></div>
            <div class="how-we-work__grid">
                <div class="how-we-work__item">
                    <div class="icon"><img src="./images/how-we-work/1.svg" alt=""></div>
                    <div class="main">
                        <h4 class="h4">Телефонная консультация</h4>
                        <p class="text-p">Клиент оставляет заявку на сайте и наши сотрудники связываеются с ним.</p>
                    </div>
                </div>
                <div class="how-we-work__item">
                    <div class="icon"><img src="./images/how-we-work/2.svg" alt=""></div>
                    <div class="main">
                        <h4 class="h4">Оформление заказа</h4>
                        <p class="text-p">Формирование сделки в битриксе на основе пожеланий и предпочтений
                            заказчика.</p>
                    </div>
                </div>
                <div class="how-we-work__item">
                    <div class="icon"><img src="./images/how-we-work/3.svg" alt=""></div>
                    <div class="main">
                        <h4 class="h4">Разработка макета</h4>
                        <p class="text-p">Дизайнер связывается с заказчиком для уточнения нюансов, разрабатывает макет,
                            согласовывает его с заказчиком.</p>
                    </div>
                </div>
                <div class="how-we-work__item">
                    <div class="icon"><img src="./images/how-we-work/4.svg" alt=""></div>
                    <div class="main">
                        <h4 class="h4">Оплата</h4>
                        <p class="text-p">Сообщение платежных реквизитов клиенту для 100% предоплаты</p>
                    </div>
                </div>
                <div class="how-we-work__item">
                    <div class="icon"><img src="./images/how-we-work/5.svg" alt=""></div>
                    <div class="main">
                        <h4 class="h4">Изготовление изделия</h4>
                        <p class="text-p">Сроки изготовления изделия обговариваются с заказчиком. Максимальный срок - 2
                            недели.</p>
                    </div>
                </div>
                <div class="how-we-work__item">
                    <div class="icon"><img src="./images/how-we-work/6.svg" alt=""></div>
                    <div class="main">
                        <h4 class="h4">Отправка изделия</h4>
                        <p class="text-p">Отправдяем изделие в любую точку страны любого горрода.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>