<section class="portfolio splide" aria-label="Portfolio">
    <div class="container-fluid portfolio__grid">
        <h2 class="h1">Наши работы</h2>
        <div class="portfolio__decor"></div>
        <p class="text-p">Индивидуальный подход к каждому заказу.</p>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="./images/examples/4.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="./images/examples/3.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="./images/examples/2.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="./images/examples/1.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="./images/examples/4.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="./images/examples/3.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="./images/examples/2.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="./images/examples/1.png" alt="">
                </li>
            </ul>
        </div>
        <div class="splide-custom-pagination splide__arrows">
            <div class="splide__pagination"></div>
        </div>
    </div>
</section>