<section class="promo">
    <div class="container">
        <div class="promo__block">
            <div class="promo__anons">
                <div class="text-heading">Искусство помнить</div>
                <div class="text-anons">Изготовление колумбарных плит на граните высшей категории «ABSOLUT BLACK»</div>
            </div>
            <div class="promo__features">
                <div class="d-none d-lg-block promo__features__decor"></div>
                <div class="feature-item text-p">Премиальное
                    качество
                </div>
                <div class="feature-item text-p">Индивидуальный подход
                    к каждому клиенту
                </div>
                <div class="feature-item text-p">Пожизненная
                    гарантия
                </div>
                <div class="feature-item text-p">Фотографичное сходство
                    портрета на плите
                </div>
            </div>
        </div>
    </div>
</section>